<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
    {% render 'version' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_400 = settings.type_body_font | font_modify: 'weight', '400'
      assign body_font_500 = settings.type_body_font | font_modify: 'weight', '500'
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_500_italic = body_font_500 | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_400 | font_face: font_display: 'swap' }}
      {{ body_font_500 | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_500_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ settings.type_button_font | font_face: font_display: 'swap' }}

      {% render 'head-css' %}

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: calc(1 + 0.3125 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        stockCountdown: {
            title: {{ 'products.product.stock_countdown_html' | t | json }}
        },
        countdown: {
            years: {{ 'products.product.countdown.years' | t | json }},
            months: {{ 'products.product.countdown.months' | t | json }},
            weeks: {{ 'products.product.countdown.weeks' | t | json }},
            days: {{ 'products.product.countdown.days' | t | json }},
            hours: {{ 'products.product.countdown.hours' | t | json }},
            minutes: {{ 'products.product.countdown.minutes' | t | json }},
            seconds: {{ 'products.product.countdown.seconds' | t | json }}
        },
        deliveryCountdown: {
            hours: {{ 'products.product.delivery_countdown.hours' | t | json }},
            minutes: {{ 'products.product.delivery_countdown.minutes' | t | json }},
            daysOfWeek: {
                sunday: {{ 'products.product.delivery_countdown.days_of_week.sunday' | t | json }},
                monday: {{ 'products.product.delivery_countdown.days_of_week.monday' | t | json }},
                tuesday: {{ 'products.product.delivery_countdown.days_of_week.tuesday' | t | json }},
                wednesday: {{ 'products.product.delivery_countdown.days_of_week.wednesday' | t | json }},
                thursday: {{ 'products.product.delivery_countdown.days_of_week.thursday' | t | json }},
                friday: {{ 'products.product.delivery_countdown.days_of_week.friday' | t | json }},
                saturday: {{ 'products.product.delivery_countdown.days_of_week.saturday' | t | json }}
            }
        }
      }
    </script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>