<style>
  @media screen and (max-width: 992px) {
    .grid-bs.featured-promotions-wrapper {
      row-gap: 4rem;
    }
  }

  .featured-promotions-wrapper__title {
    text-transform: var(--headings-case);
  }

  .featured-promotions-wrapper .heading-wrapper,
  .featured-promotions-wrapper .heading-wrapper__heading,
  .featured-promotions-wrapper__title {
    margin: 0;
  }

  
  @media screen and (min-width: 993px) {
    .featured-promotions-wrapper .heading-wrapper {
      margin-bottom: 2rem;
    }
  }
</style>

{%- assign mobile_text_box_position = 'below' -%}
{%- assign mobile_show_image_overlay = false -%}

{%- if section.settings.title_color.alpha > 0 -%}
  {%- style -%}
    #FeaturedPromotionsSection-{{ section.id }} .heading-wrapper__heading {
      color: rgb({{ section.settings.title_color.red }}, {{ section.settings.title_color.green }}, {{ section.settings.title_color.blue }});
    }
  {%- endstyle -%}
{%- endif -%}
{%- style -%}
  {%- if section.settings.width == 'wide' -%}
    @media screen and (min-width: 993px) {
      #FeaturedPromotionsSection-{{ section.id }} .featured-promotion {
        border-radius: 0;
      }
    }
    @media screen and (max-width: 992px) {
      #FeaturedPromotionsSection-{{ section.id }} .featured-promotion__media {
        border-radius: 0;
      }
    }
  {%- endif -%}

  {%- if section.settings.width == 'fixed' -%}
    @media screen and (min-width: 993px) {
      #FeaturedPromotionsSection-{{ section.id }}.featured-promotions-wrapper {
        max-width: {{ section.settings.fixed_width | divided_by: 10.0 }}rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  {%- endif -%}
  {% render 'section-padding', section: section %}
  {%- if section.settings.images_desktop_vertical_spacing == 'medium' -%}
    @media screen and (min-width: 993px) {
      #FeaturedPromotionsSection-{{ section.id }}.featured-promotions-wrapper {
        row-gap: 4rem;
      }
    }
  {%- endif -%}
{%- endstyle -%}
{%- if section.settings.dividing_line == 'top' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}
  <div class="page-width{% if section.settings.width == 'wide' %} page-width--wide{% endif %}">
    <div id="FeaturedPromotionsSection-{{ section.id }}" class="grid-bs featured-promotions-wrapper section-{{ section.id }}-padding">
      {%- if section.settings.title != blank -%}
        <div class="g-col-12">
          <div class="heading-wrapper animated-appearance{% if section.settings.layout == 'heading-on-top-center' %} center{% endif %}">
            <div class="heading-wrapper__heading">
              <h2 class="featured-promotions-wrapper__title {{ section.settings.title_size }}">{{ section.settings.title | escape }}</h2>
            </div>
          </div>
        </div>
      {%- endif -%}
      {%- assign images_in_row_mobile = 1 -%}
      {%- for block in section.blocks -%}
        {%- if section.settings.images_in_row == 'auto' -%}
          {%- case block.type -%}
          {%- when 'content_type_1' -%}
            {%- assign images_in_row = 2 -%}
          {%- when 'content_type_2' -%}
            {%- assign images_in_row = 3 -%}
          {%- when 'content_type_3' -%}
            {%- assign images_in_row = 4 -%}
            {%- assign images_in_row_mobile = 2 -%}
          {%- endcase -%}
        {%- else -%}
          {%- assign images_in_row = section.settings.images_in_row | abs -%}
        {%- endif -%}
        {%- if images_in_row == 2 or images_in_row == 4 -%}
          {%- assign images_in_row_medium = 2 -%}
        {%- elsif images_in_row == 3 or images_in_row == 6 -%}
          {%- assign images_in_row_medium = 3 -%}
        {%- endif -%}
        <div class="g-col-{{ 12 | divided_by: images_in_row_mobile }} g-col-sm-{{ 12 | divided_by: images_in_row_medium }} g-col-md-{{ 12 | divided_by: images_in_row }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'content_type_1' -%}
              {{ 'component-promotion-block-type-1.css' | asset_url | stylesheet_tag }}
{%- style -%}
    {%- if section.settings.image_height == 'adapt' and block.settings.image != blank -%}
        {%- assign image_aspect_ratio = block.settings.image.aspect_ratio | default: 0.66 -%}
        {% capture image_aspect_ratio %}{{ 1 | divided_by: image_aspect_ratio | times: 100 }}%{% endcapture %}
    {%- elsif section.settings.image_height == 'fixed' -%}
        {% capture image_aspect_ratio %}{{ section.settings.image_fixed_aspect_ratio }}%{% endcapture %}
    {%- endif -%}

    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1.featured-promotion::before,
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__media::before {
        padding-bottom: {{ image_aspect_ratio }};
        content: '';
        display: block;
    }
{%- endstyle -%}

{%- style -%}
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .media-overlay {
        --opacity-default: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
        {%- if block.settings.image_overlay_background_color.alpha > 0 -%}
            --media-overlay-color-value: rgb({{ block.settings.image_overlay_background_color.red }}, {{ block.settings.image_overlay_background_color.green }}, {{ block.settings.image_overlay_background_color.blue }});
        {%- endif -%}
        {% if block.settings.image_overlay_background_gradient != blank %}
            --media-overlay-color-value: {{ block.settings.image_overlay_background_gradient }};
        {% endif %}
    }

    {%- unless mobile_show_image_overlay -%}
        @media screen and (max-width: 992px) {
        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .media-overlay::after {
            display: none;
        }
        }
    {%- endunless -%}

    {%- if block.settings.text_box_background_color.alpha > 0 -%}
        {% if mobile_text_box_position == 'below' %}@media screen and (min-width: 993px) { {%- endif -%}
        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__box {
            --featured-promotion-box-background: {{ block.settings.text_box_background_color.red }}, {{ block.settings.text_box_background_color.green }}, {{ block.settings.text_box_background_color.blue }};
        }
        {% if mobile_text_box_position == 'below' %} } {%- endif -%}
    {%- endif -%}
    {%- if block.settings.text_box_opacity > 0 -%}
        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__box {
        --featured-promotion-box-opacity: {{ block.settings.text_box_opacity | divided_by: 100.0 }};
        }
    {%- endif -%}
    

    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__box {
        --featured-promotion-box-width: {{ block.settings.text_box_width }}%;
    }

    {%- assign animation_type = settings.banner_image_animation -%}
    {%- if section.settings.animation != 'inherit_global' -%}
        {%- assign animation_type = section.settings.animation -%}
    {%- endif -%}
{%- endstyle -%}
    
<div id="FeaturedPromotion-{{ section.id }}-{{ block.id }}" class="featured-promotion-wrapper animated-appearance link-underlined-trigger hover-animation-trigger">
    <div class="featured-promotion featured-promotion--type-1 featured-promotion--{{ section.settings.image_height }}{% if section.settings.content_layout == 'text_below_the_image' %} featured-promotion--desktop-bottom{% endif %}{% if block.settings.image == blank %} featured-promotion--image-empty{% endif %}{% if mobile_text_box_position == 'below' %} featured-promotion--mobile-bottom featured-promotion--table-bottom{% else %} featured-promotion--mobile-adapt featured-promotion--mobile-{{ mobile_text_box_position }} featured-promotion--table-{{ mobile_text_box_position }}{%- endif -%}{% if block.settings.text_box_opacity == 0 %} featured-promotion--desktop-transparent{% endif %}">
        {%- if block.settings.image != blank -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media media-overlay hover-animation hover-animation--{{ animation_type }}">
            <img
            srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
            sizes="(min-width: 993px) calc((100vw - 8rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), (min-width: 577px) calc((100vw - 6rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), calc((100vw - 4rem - {{ images_in_row_mobile | minus: 1 | times: 2 }}rem) / {{ images_in_row_mobile }})"
            src="{{ block.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
            style="object-position: {{ block.settings.image.presentation.focal_point }};"
            >
            {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="featured-promotion__link" aria-label="Promotion"></a>
            {%- endif -%}
        </div>
        {%- else -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media">
            {% render 'placeholder-by-index', index: forloop.index %}
        </div>
        {%- endif -%}
        <div class="featured-promotion__content featured-promotion__content--{{ block.settings.desktop_text_box_position }} featured-promotion__content--{{ block.settings.desktop_text_box_align }} featured-promotion__content--mobile-{{ section.settings.mobile_text_box_align }} featured-promotion__content--table-{{ section.settings.mobile_text_box_align }}{% if section.settings.width == 'wide' %} page-width-medium{% endif %}">
        <div class="featured-promotion__box color-inverse{% if mobile_text_box_position == 'below' %} color-small-background color-medium-background{% endif %}">
            
            {%- if block.settings.heading != blank -%}
                {%- if block.settings.heading_color.alpha > 0 -%}
                {%- style -%}
                    {% unless block.settings.heading_color_apply_mobile %}@media screen and (min-width: 993px) { {% endunless %}
                    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__heading[data-block-id="{{ block.id }}"] {
                        --clr-headings: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
                    }
                    {% unless block.settings.heading_color_apply_mobile %}}{% endunless %}
                {%- endstyle -%}
                {%- endif -%}
                
                <h2 class="featured-promotion__heading {{ block.settings.heading_size }}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                    <{% if block.settings.link != blank %}a href="{{ block.settings.link }}"{% else %}span{% endif %} class="link-unstyled">
                        <span class="link-underlined">{{ block.settings.heading | escape }}</span>
                    </{% if block.settings.link != blank %}a{% else %}span{% endif %}>
                </h2>
            {%- endif -%}

            {%- if block.settings.text != blank or block.settings.custom_html != blank -%}
                {%- if block.settings.text_color.alpha > 0 -%}
                {%- style -%}
                    {% unless block.settings.text_color_apply_mobile %}@media screen and (min-width: 993px) { {% endunless %}
                    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-1 .featured-promotion__text[data-block-id="{{ block.id }}"] {
                        --color-foreground: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
                    }
                    {% unless block.settings.text_color_apply_mobile %}}{% endunless %}
                {%- endstyle -%}
                {%- endif -%}
                
                <div class="featured-promotion__text" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.text | replace: '> </', '></' }}</span>
                {%- if block.settings.custom_html != blank -%}
                    <div class="rte">
                    {{ pages[block.settings.custom_html].content }}
                    </div>
                {%- endif -%}
                </div>
            {%- endif -%}

            {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                <div class="featured-promotion__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} featured-promotion__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                    {%- assign button_link = block.settings.button_link_1 | default: section.settings.link -%}
                    {%- assign button_style_id = '#FeaturedPromotion-' | append: section.id | append: '-' | append: block.id | append: ' .featured-promotion--type-1 .featured-promotion__first-button' -%}
                    {% render 'button-styled', label: block.settings.button_label_1, link: button_link, class: 'featured-promotion__first-button', style_id: button_style_id, style: block.settings.button_style_1, color: block.settings.button_color_1, apply_mobile: block.settings.button_colors_apply_mobile_1 %}
                    {%- assign button_link = block.settings.button_link_2 | default: section.settings.link -%}
                    {%- assign button_style_id = '#FeaturedPromotion-' | append: section.id | append: '-' | append: block.id | append: ' .featured-promotion--type-1 .featured-promotion__second-button' -%}
                    {% render 'button-styled', label: block.settings.button_label_2, link: button_link, class: 'featured-promotion__second-button', style_id: button_style_id, style: block.settings.button_style_2, color: block.settings.button_color_2, apply_mobile: block.settings.button_colors_apply_mobile_2 %}
                </div>
            {%- endif -%}
        </div>
        </div>
    </div>
</div>
            {%- when 'content_type_2' -%}
              {{ 'component-promotion-block-type-2.css' | asset_url | stylesheet_tag }}
{%- style -%}
    {%- if section.settings.image_height == 'adapt' and block.settings.image != blank -%}
        {%- assign image_aspect_ratio = block.settings.image.aspect_ratio | default: 0.66 -%}
        {% capture image_aspect_ratio %}{{ 1 | divided_by: image_aspect_ratio | times: 100 }}%{% endcapture %}
    {%- elsif section.settings.image_height == 'fixed' -%}
        {% capture image_aspect_ratio %}{{ section.settings.image_fixed_aspect_ratio }}%{% endcapture %}
    {%- endif -%}

    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2.featured-promotion::before,
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2 .featured-promotion__media::before {
        padding-bottom: {{ image_aspect_ratio }};
        content: '';
        display: block;
    }
{%- endstyle -%}

{%- style -%}
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2 .media-overlay {
        --opacity-default: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
        {%- if block.settings.image_overlay_background_color.alpha > 0 -%}
            --media-overlay-color-value: rgb({{ block.settings.image_overlay_background_color.red }}, {{ block.settings.image_overlay_background_color.green }}, {{ block.settings.image_overlay_background_color.blue }});
        {%- endif -%}
        {% if block.settings.image_overlay_background_gradient != blank %}
            --media-overlay-color-value: {{ block.settings.image_overlay_background_gradient }};
        {% endif %}
    }

    {%- unless mobile_show_image_overlay -%}
        @media screen and (max-width: 992px) {
        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2 .media-overlay::after {
            display: none;
        }
        }
    {%- endunless -%}

    {%- assign animation_type = settings.banner_image_animation -%}
    {%- if section.settings.animation != 'inherit_global' -%}
        {%- assign animation_type = section.settings.animation -%}
    {%- endif -%}
{%- endstyle -%}
    
<div id="FeaturedPromotion-{{ section.id }}-{{ block.id }}" class="featured-promotion-wrapper animated-appearance link-underlined-trigger hover-animation-trigger">
    <div class="featured-promotion featured-promotion--type-2 featured-promotion--{{ section.settings.image_height }}{% if section.settings.content_layout == 'text_below_the_image' %} featured-promotion--desktop-bottom{% endif %}{% if block.settings.image == blank %} featured-promotion--image-empty{% endif %}{% if mobile_text_box_position == 'below' %} featured-promotion--mobile-bottom featured-promotion--table-bottom{% else %} featured-promotion--mobile-adapt featured-promotion--mobile-{{ mobile_text_box_position }} featured-promotion--table-{{ mobile_text_box_position }}{%- endif -%}{% if block.settings.text_box_opacity == 0 %} featured-promotion--desktop-transparent{% endif %}">
        {%- if block.settings.image != blank -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media media-overlay hover-animation hover-animation--{{ animation_type }}">
            <img
            srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
            sizes="(min-width: 993px) calc((100vw - 8rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), (min-width: 577px) calc((100vw - 6rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), calc((100vw - 4rem - {{ images_in_row_mobile | minus: 1 | times: 2 }}rem) / {{ images_in_row_mobile }})"
            src="{{ block.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
            style="object-position: {{ block.settings.image.presentation.focal_point }};"
            >
            {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="featured-promotion__link" aria-label="Promotion"></a>
            {%- endif -%}
        </div>
        {%- else -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media">
            {% render 'placeholder-by-index', index: forloop.index %}
        </div>
        {%- endif -%}
        <div class="featured-promotion__content featured-promotion__content--{{ block.settings.desktop_text_box_align }} featured-promotion__content--mobile-{{ section.settings.mobile_text_box_align }} featured-promotion__content--table-{{ section.settings.mobile_text_box_align }}{% if section.settings.width == 'wide' %} page-width-medium{% endif %}">
        <div class="featured-promotion__box">
            {%- if block.settings.heading != blank -%}
                {%- if block.settings.heading_color.alpha > 0 -%}
                {%- style -%}
                    {% unless block.settings.heading_color_apply_mobile %}@media screen and (min-width: 993px) { {% endunless %}
                    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2 .featured-promotion__heading[data-block-id="{{ block.id }}"] {
                        --clr-headings: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
                    }
                    {% unless block.settings.heading_color_apply_mobile %}}{% endunless %}
                {%- endstyle -%}
                {%- endif -%}
                
                <h2 class="featured-promotion__heading {{ block.settings.heading_size }}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                    <{% if block.settings.link != blank %}a href="{{ block.settings.link }}"{% else %}span{% endif %} class="link-unstyled">
                        <span class="link-underlined">{{ block.settings.heading | escape }}</span>
                    </{% if block.settings.link != blank %}a{% else %}span{% endif %}>
                </h2>
            {%- endif -%}
            
            {%- if block.settings.text != blank or block.settings.custom_html != blank -%}
                {%- if block.settings.text_color.alpha > 0 -%}
                {%- style -%}
                    {% unless block.settings.text_color_apply_mobile %}@media screen and (min-width: 993px) { {% endunless %}
                    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-2 .featured-promotion__text[data-block-id="{{ block.id }}"] {
                        --color-foreground: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
                    }
                    {% unless block.settings.text_color_apply_mobile %}}{% endunless %}
                {%- endstyle -%}
                {%- endif -%}
                
                <div class="featured-promotion__text" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.text | replace: '> </', '></' }}</span>
                {%- if block.settings.custom_html != blank -%}
                    <div class="rte">
                    {{ pages[block.settings.custom_html].content }}
                    </div>
                {%- endif -%}
                </div>
            {%- endif -%}

            {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                <div class="featured-promotion__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} featured-promotion__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                    {%- assign button_link = block.settings.button_link_1 | default: section.settings.link -%}
                    {%- assign button_style_id = '#FeaturedPromotion-' | append: section.id | append: '-' | append: block.id | append: ' .featured-promotion--type-2 .featured-promotion__first-button' -%}
                    {% render 'button-styled', label: block.settings.button_label_1, link: button_link, class: 'featured-promotion__first-button', style_id: button_style_id, style: block.settings.button_style_1, color: block.settings.button_color_1, apply_mobile: block.settings.button_colors_apply_mobile_1 %}
                    {%- assign button_link = block.settings.button_link_2 | default: section.settings.link -%}
                    {%- assign button_style_id = '#FeaturedPromotion-' | append: section.id | append: '-' | append: block.id | append: ' .featured-promotion--type-2 .featured-promotion__second-button' -%}
                    {% render 'button-styled', label: block.settings.button_label_2, link: button_link, class: 'featured-promotion__second-button', style_id: button_style_id, style: block.settings.button_style_2, color: block.settings.button_color_2, apply_mobile: block.settings.button_colors_apply_mobile_2 %}
                </div>
            {%- endif -%}
        </div>
        </div>
    </div>
</div>
            {%- when 'content_type_3' -%}
              {{ 'component-promotion-block-type-3.css' | asset_url | stylesheet_tag }}
{%- style -%}
    {%- if section.settings.image_height == 'adapt' and block.settings.image != blank -%}
        {%- assign image_aspect_ratio = block.settings.image.aspect_ratio | default: 0.66 -%}
        {% capture image_aspect_ratio %}{{ 1 | divided_by: image_aspect_ratio | times: 100 }}%{% endcapture %}
    {%- elsif section.settings.image_height == 'fixed' -%}
        {% capture image_aspect_ratio %}{{ section.settings.image_fixed_aspect_ratio }}%{% endcapture %}
    {%- endif -%}

    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-3.featured-promotion::before,
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-3 .featured-promotion__media::before {
        padding-bottom: {{ image_aspect_ratio }};
        content: '';
        display: block;
    }
{%- endstyle -%}

{%- style -%}
    #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-3 .media-overlay {
        --opacity-default: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
        {%- if block.settings.image_overlay_background_color.alpha > 0 -%}
            --media-overlay-color-value: rgb({{ block.settings.image_overlay_background_color.red }}, {{ block.settings.image_overlay_background_color.green }}, {{ block.settings.image_overlay_background_color.blue }});
        {%- endif -%}
        {% if block.settings.image_overlay_background_gradient != blank %}
            --media-overlay-color-value: {{ block.settings.image_overlay_background_gradient }};
        {% endif %}
    }

    {%- unless mobile_show_image_overlay -%}
        @media screen and (max-width: 992px) {
        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-3 .media-overlay::after {
            display: none;
        }
        }
    {%- endunless -%}

    {%- assign animation_type = settings.banner_image_animation -%}
    {%- if section.settings.animation != 'inherit_global' -%}
        {%- assign animation_type = section.settings.animation -%}
    {%- endif -%}
{%- endstyle -%}
    
<div id="FeaturedPromotion-{{ section.id }}-{{ block.id }}" class="featured-promotion-wrapper animated-appearance hover-animation-trigger">
    <div class="featured-promotion featured-promotion--type-3 featured-promotion--{{ section.settings.image_height }}{% if section.settings.content_layout == 'text_below_the_image' %} featured-promotion--desktop-bottom{% endif %}{% if block.settings.image == blank %} featured-promotion--image-empty{% endif %}{% if mobile_text_box_position == 'below' %} featured-promotion--mobile-bottom featured-promotion--table-bottom{% else %} featured-promotion--mobile-adapt featured-promotion--mobile-{{ mobile_text_box_position }} featured-promotion--table-{{ mobile_text_box_position }}{%- endif -%}{% if block.settings.text_box_opacity == 0 %} featured-promotion--desktop-transparent{% endif %}">
        {%- if block.settings.image != blank -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media media-overlay hover-animation hover-animation--{{ animation_type }}">
            <img
            srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
            sizes="(min-width: 993px) calc((100vw - 8rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), (min-width: 577px) calc((100vw - 6rem - {{ images_in_row | minus: 1 | times: 2 }}rem) / {{ images_in_row }}), calc((100vw - 4rem - {{ images_in_row_mobile | minus: 1 | times: 2 }}rem) / {{ images_in_row_mobile }})"
            src="{{ block.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
            style="object-position: {{ block.settings.image.presentation.focal_point }};"
            >
            {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="featured-promotion__link" aria-label="Promotion"></a>
            {%- endif -%}
        </div>
        {%- else -%}
        <div class="featured-promotion__media{% if block.settings.image == blank %} placeholder{% endif %} media">
            {% render 'placeholder-by-index', index: forloop.index %}
        </div>
        {%- endif -%}
        <div class="featured-promotion__content featured-promotion__content--{{ block.settings.desktop_text_box_position }} featured-promotion__content--align-center featured-promotion__content--mobile-{{ section.settings.mobile_text_box_align }} featured-promotion__content--table-{{ section.settings.mobile_text_box_align }}{% if section.settings.width == 'wide' %} page-width-medium{% endif %}">
            <div class="featured-promotion__box">
                {%- if block.settings.heading != blank or block.settings.button_label_1 != blank -%}
                    {%- if block.settings.heading_color.alpha > 0 -%}
                    {%- style -%}
                        #FeaturedPromotion-{{ section.id }}-{{ block.id }} .featured-promotion--type-3 .featured-promotion__heading[data-block-id="{{ block.id }}"] {
                            --clr-headings: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
                        }
                    {%- endstyle -%}
                    {%- endif -%}
                    <h2 class="featured-promotion__heading {{ block.settings.heading_size }} large-up-hide" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                        <{% if block.settings.link != blank %}a href="{{ block.settings.link }}"{% else %}span{% endif %} class="link-unstyled">{{ block.settings.button_label_1 | default: block.settings.heading | escape }}</{% if block.settings.link != blank %}a{% else %}span{% endif %}>
                    </h2>
                {%- endif -%}

                {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="featured-promotion__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} featured-promotion__buttons--multiple{% endif %} small-hide medium-hide" {{ block.shopify_attributes }}>
                        {%- assign button_link = block.settings.button_link_1 | default: section.settings.link -%}
                        {%- assign button_style_id = '#FeaturedPromotion-' | append: section.id | append: '-' | append: block.id | append: ' .featured-promotion--type-3 .featured-promotion__first-button' -%}
                        {% render 'button-styled', label: block.settings.button_label_1, link: button_link, class: 'featured-promotion__first-button', style_id: button_style_id, style: block.settings.button_style_1, color: block.settings.button_color_1, apply_mobile: block.settings.button_colors_apply_mobile_1 %}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- if section.settings.dividing_line == 'bottom' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.featured-promotions.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "disabled_on": {
    "groups": ["custom.megamenu"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured promotions",
      "label": "t:sections.featured-promotions.settings.title.label"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.featured-promotions.settings.title_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.featured-promotions.settings.title_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.featured-promotions.settings.title_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.featured-promotions.settings.title_size.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.featured-promotions.settings.title_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "heading-on-top",
          "label": "t:sections.featured-promotions.settings.layout.options__1.label"
        },
        {
          "value": "heading-on-top-center",
          "label": "t:sections.featured-promotions.settings.layout.options__2.label"
        }
      ],
      "default": "heading-on-top",
      "label": "t:sections.featured-promotions.settings.layout.label"
    },
    {
    "type": "select",
    "id": "dividing_line",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.dividing_line.options__1.label"
      },
      {
        "value": "top",
        "label": "t:sections.all.dividing_line.options__2.label"
      },
      {
        "value": "bottom",
        "label": "t:sections.all.dividing_line.options__3.label"
      }
    ],
    
    
      "default": "top",
    
    "label": "t:sections.all.dividing_line.label"
},
{
    "type": "range",
    "id": "spacing_top",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_top.label",
    
    
      "default": 80
    
},
{
    "type": "range",
    "id": "spacing_bottom",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_bottom.label",
    
    
      "default": 80
    
},
    {
      "type": "header",
      "content": "t:sections.featured-promotions.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "images_in_row",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.featured-promotions.settings.images_in_row.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-promotions.settings.images_in_row.options__2.label"
        },
        {
          "value": "3",
          "label": "t:sections.featured-promotions.settings.images_in_row.options__3.label"
        },
        {
          "value": "4",
          "label": "t:sections.featured-promotions.settings.images_in_row.options__4.label"
        },
        {
          "value": "6",
          "label": "t:sections.featured-promotions.settings.images_in_row.options__5.label"
        }
      ],
      "default": "auto",
      "label": "t:sections.featured-promotions.settings.images_in_row.label"
    },
    {
      "type": "select",
      "id": "images_desktop_vertical_spacing",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        }
      ],
      "default": "small",
      "label": "Desktop vertical spacing"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-promotions.settings.image_height.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.featured-promotions.settings.image_height.options__2.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-promotions.settings.image_height.label"
    },
    {
      "type": "range",
      "id": "image_fixed_aspect_ratio",
      "min": 50,
      "max": 150,
      "step": 2,
      "unit": "%",
      "label": "t:sections.featured-promotions.settings.image_fixed_aspect_ratio.label",
      "info": "t:sections.featured-promotions.settings.image_fixed_aspect_ratio.info",
      "default": 100
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "standart",
          "label": "t:sections.featured-promotions.settings.width.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.featured-promotions.settings.width.options__2.label"
        }
      ],
      "default": "standart",
      "label": "t:sections.featured-promotions.settings.width.label"
    },
    {
      "type": "range",
      "id": "fixed_width",
      "min": 900,
      "max": 2000,
      "step": 50,
      "unit": "px",
      "label": "t:sections.featured-promotions.settings.fixed_width.label",
      "default": 1000
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "mobile_text_box_align",
      "options": [
        {
          "value": "align-start",
          "label": "t:sections.featured-promotions.settings.mobile_text_box_align.options__1.label"
        },
        {
          "value": "align-center",
          "label": "t:sections.featured-promotions.settings.mobile_text_box_align.options__2.label"
        },
        {
          "value": "align-end",
          "label": "t:sections.featured-promotions.settings.mobile_text_box_align.options__3.label"
        }
      ],
      "default": "align-start",
      "label": "t:sections.featured-promotions.settings.mobile_text_box_align.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.settings.header__4.content"
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "inherit_global",
          "label": "t:sections.image-banner.settings.animation.options__1.label"
        },
        {
          "value": "none",
          "label": "t:sections.image-banner.settings.animation.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.image-banner.settings.animation.options__3.label"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.image-banner.settings.animation.options__4.label"
        },
        {
          "value": "zoom-in-opacity-add",
          "label": "t:sections.image-banner.settings.animation.options__5.label"
        },
        {
          "value": "zoom-out-opacity-add",
          "label": "t:sections.image-banner.settings.animation.options__6.label"
        },
        {
          "value": "opacity-add",
          "label": "t:sections.image-banner.settings.animation.options__7.label"
        }
      ],
      "default": "inherit_global",
      "label": "t:sections.image-banner.settings.animation.label"
    }
  ],
  "blocks": [
    {
    "type": "content_type_1",
    "name": "t:sections.featured-promotions.blocks.content_type_1.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__1.content"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.featured-promotions.blocks.content.settings.link.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.link.info"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.featured-promotions.blocks.content.settings.image.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.image.info"
      },
      {
        "type": "color",
        "id": "image_overlay_background_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.info"
      },
      {
        "id": "image_overlay_background_gradient",
        "type": "color_background",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_gradient.label"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_opacity.label",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__2.content"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Heading",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size", 
        "options": [
          {
            "value": "h1",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__2.label"
          },
          {
            "value": "h3",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__3.label"
          }
        ],
        "default": "h3",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.label"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_color.label"
      },
      {
        "type": "checkbox",
        "id": "heading_color_apply_mobile",
        "default": false,
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_color_apply_mobile.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__3.content"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
        "label": "t:sections.featured-promotions.blocks.content.settings.text.label"
      },
      {
        "type": "page",
        "id": "custom_html",
        "label": "t:sections.featured-promotions.blocks.content.settings.custom_html.label"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.text_color.label"
      },
      {
        "type": "checkbox",
        "id": "text_color_apply_mobile",
        "default": false,
        "label": "t:sections.featured-promotions.blocks.content.settings.text_color_apply_mobile.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__4.content"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button",
        "label": "t:sections.all.button_label.label",
        "info": "t:sections.all.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.all.button_link.label"
      },
      {
        "type": "select",
        "id": "button_style_1",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.all.button_style.options__1.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.all.button_style.options__2.label"
          },
          {
            "value": "link-style",
            "label": "t:sections.all.button_style.options__3.label"
          }
        ],
        "default": "primary",
        "label": "t:sections.all.button_style.label"
      },
      {
        "type": "color",
        "id": "button_color_1",
        "label": "t:sections.all.button_color.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__5.content"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "default": "Second button",
        "label": "t:sections.all.button_label.label",
        "info": "t:sections.all.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.all.button_link.label"
      },
      {
        "type": "select",
        "id": "button_style_2",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.all.button_style.options__1.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.all.button_style.options__2.label"
          },
          {
            "value": "link-style",
            "label": "t:sections.all.button_style.options__3.label"
          }
        ],
        "default": "link-style",
        "label": "t:sections.all.button_style.label"
      },
      {
        "type": "color",
        "id": "button_color_2",
        "label": "t:sections.all.button_color.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__6.content"
      },
      {
        "type": "select",
        "id": "desktop_text_box_position",
        "options": [
          {
            "value": "flex-start-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__1.label"
          },
          {
            "value": "flex-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__2.label"
          },
          {
            "value": "flex-start-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__3.label"
          },
          {
            "value": "center-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__4.label"
          },
          {
            "value": "center",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__5.label"
          },
          {
            "value": "center-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__6.label"
          },
          {
            "value": "flex-end-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__7.label"
          },
          {
            "value": "flex-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__8.label"
          },
          {
            "value": "flex-end-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__9.label"
          }
        ],
        "default": "flex-start-start",
        "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.label"
      },
      {
        "type": "select",
        "id": "desktop_text_box_align",
        "options": [
          {
            "value": "align-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__1.label"
          },
          {
            "value": "align-center",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__2.label"
          },
          {
            "value": "align-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__3.label"
          }
        ],
        "default": "align-start",
        "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.label"
      },
      {
        "type": "color",
        "id": "text_box_background_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.text_box_background_color.label"
      },
      {
        "type": "range",
        "id": "text_box_opacity",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "t:sections.featured-promotions.blocks.content.settings.text_box_opacity.label",
        "default": 20
      },
      
      {
        "type": "range",
        "id": "text_box_width",
        "min": 30,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.featured-promotions.blocks.content.settings.text_box_width.label",
        "default": 100
      }
    ]
  },
    {
    "type": "content_type_2",
    "name": "t:sections.featured-promotions.blocks.content_type_2.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__1.content"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.featured-promotions.blocks.content.settings.link.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.link.info"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.featured-promotions.blocks.content.settings.image.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.image.info"
      },
      {
        "type": "color",
        "id": "image_overlay_background_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.label",
        "info": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.info"
      },
      {
        "id": "image_overlay_background_gradient",
        "type": "color_background",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_gradient.label"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_opacity.label",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__2.content"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Heading",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size", 
        "options": [
          {
            "value": "h1",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__2.label"
          },
          {
            "value": "h3",
            "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__3.label"
          }
        ],
        "default": "h3",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.label"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_color.label"
      },
      {
        "type": "checkbox",
        "id": "heading_color_apply_mobile",
        "default": false,
        "label": "t:sections.featured-promotions.blocks.content.settings.heading_color_apply_mobile.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__3.content"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
        "label": "t:sections.featured-promotions.blocks.content.settings.text.label"
      },
      {
        "type": "page",
        "id": "custom_html",
        "label": "t:sections.featured-promotions.blocks.content.settings.custom_html.label"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.featured-promotions.blocks.content.settings.text_color.label"
      },
      {
        "type": "checkbox",
        "id": "text_color_apply_mobile",
        "default": false,
        "label": "t:sections.featured-promotions.blocks.content.settings.text_color_apply_mobile.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__4.content"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button",
        "label": "t:sections.all.button_label.label",
        "info": "t:sections.all.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.all.button_link.label"
      },
      {
        "type": "select",
        "id": "button_style_1",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.all.button_style.options__1.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.all.button_style.options__2.label"
          },
          {
            "value": "link-style",
            "label": "t:sections.all.button_style.options__3.label"
          }
        ],
        "default": "primary",
        "label": "t:sections.all.button_style.label"
      },
      {
        "type": "color",
        "id": "button_color_1",
        "label": "t:sections.all.button_color.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__5.content"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "default": "Second button",
        "label": "t:sections.all.button_label.label",
        "info": "t:sections.all.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.all.button_link.label"
      },
      {
        "type": "select",
        "id": "button_style_2",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.all.button_style.options__1.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.all.button_style.options__2.label"
          },
          {
            "value": "link-style",
            "label": "t:sections.all.button_style.options__3.label"
          }
        ],
        "default": "link-style",
        "label": "t:sections.all.button_style.label"
      },
      {
        "type": "color",
        "id": "button_color_2",
        "label": "t:sections.all.button_color.label"
      },
      
      {
        "type": "header",
        "content": "t:sections.featured-promotions.blocks.content.settings.header__6.content"
      },
      {
        "type": "select",
        "id": "desktop_text_box_align",
        "options": [
          {
            "value": "align-start",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__1.label"
          },
          {
            "value": "align-center",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__2.label"
          },
          {
            "value": "align-end",
            "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.options__3.label"
          }
        ],
        "default": "align-start",
        "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_align.label"
      }
    ]
  },
    {
  "type": "content_type_3",
  "name": "t:sections.featured-promotions.blocks.content_type_3.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.featured-promotions.blocks.content.settings.header__1.content"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.featured-promotions.blocks.content.settings.link.label",
      "info": "t:sections.featured-promotions.blocks.content.settings.link.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.featured-promotions.blocks.content.settings.image.label",
      "info": "t:sections.featured-promotions.blocks.content.settings.image.info"
    },
    {
      "type": "color",
      "id": "image_overlay_background_color",
      "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.label",
      "info": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_color.info"
    },
    {
      "id": "image_overlay_background_gradient",
      "type": "color_background",
      "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_background_gradient.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.featured-promotions.blocks.content.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.blocks.content_type_3.settings.header__1.content"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.options__2.label"
        },
        {
          "value": "link-style",
          "label": "t:sections.all.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button_style.label"
    },
    {
      "type": "color",
      "id": "button_color_1",
      "label": "t:sections.all.button_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.blocks.content_type_3.settings.header__2.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured-promotions.blocks.content_type_3.settings.heading.label",
      "info": "t:sections.featured-promotions.blocks.content_type_3.settings.heading.info"
    },
    {
      "type": "select",
      "id": "heading_size", 
      "options": [
        {
          "value": "h3",
          "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__2.label"
        },
        {
          "value": "h5",
          "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.options__3.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.featured-promotions.blocks.content.settings.heading_size.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.featured-promotions.blocks.content.settings.heading_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-promotions.blocks.content.settings.header__6.content"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start-start",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "flex-start",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-start-end",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__3.label"
        },
        {
          "value": "center-start",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__5.label"
        },
        {
          "value": "center-end",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__6.label"
        },
        {
          "value": "flex-end-start",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__7.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__8.label"
        },
        {
          "value": "flex-end-end",
          "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.options__9.label"
        }
      ],
      "default": "center",
      "label": "t:sections.featured-promotions.blocks.content.settings.desktop_text_box_position.label"
    }
  ]
}
  ],
  "presets": [
    {
      "name": "t:sections.featured-promotions.presets.name",
      "blocks": [
        {
          "type": "content_type_1"
        },
        {
          "type": "content_type_1"
        }
      ]
    }
  ]
}
{% endschema %}
