{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<section class="image-with-text">
  <div class="responsive-two-column-grid {{ section.settings.section_id }}">
    {% capture image_layout %}
    <div class="image-with-text__image">
      {% if section.settings.image != blank %}
        {% include 'responsive-image' with
          image: section.settings.image,
          max_width: 600,
          max_height: 600
        %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  {% if section.settings.layout == 'left' %}
    {{ image_layout }}
  {% endif %}
  <div class="image-with-text__text">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div>{{ section.settings.text }}</div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="image-btn">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}

    {{ section.settings.custom_liquid }}
   
  </div>

  {% if section.settings.layout == 'right' %}
    {{ image_layout }}
  {% endif %}</div>
</section>

<style>

  /* container */
/* .responsive-two-column-grid {
    display:block;
} */

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}
.image-with-text{
  max-width: 1300px;
    margin: auto;

}
.image-with-text__text{
    display: block;
    height: 50%;
    max-height: 50%;
  align-self: center;
  width: 100%;
}
.image-with-text__image{
  text-align:center;
}
.image-with-text__text h2{
  text-align:center;
}
/* tablet breakpoint */
@media (min-width:767px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
  @media screen and (max-width: 767px){
    .reverse-col {
        display:flex;
        flex-direction: column-reverse;
    }
}
</style>
{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
          "type": "text",
          "id": "section_id",
          "label": "Section ID"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}