<div class="gradient">
  <div class="page-width">
    <div class="password-header password-header--{{ section.settings.layout }}{% if shop.password_message != blank %} password-header--3-cols{% endif %}">
      {%- if settings.enable_logo -%}
        {%- if settings.logo != blank -%}
          {%- assign image_size = settings.logo_width | append: 'x' -%}
          <img srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
            src="{{ settings.logo | img_url: image_size }}"
            loading="lazy"
            class="password-header__heading-logo invisible"
            id="heading-logo"
            alt="{{ settings.logo.alt | default: shop.name | escape }}"
            style="width: {{ settings.logo_width }}px; object-position: {{ settings.logo.presentation.focal_point }};"
          >
        {%- else -%}
          <span id="heading-logo" class="password-header__heading-svg invisible" style="width: {{ settings.logo_width }}px;">
            {% if settings.svg_logo != blank %}{{ settings.svg_logo }}{% else %}{% render 'svg-logo' %}{% endif %}
          </span>
        {%- endif -%}
      {%- else -%}
        <h1 id="heading-logo" class="password-header__heading-text h2 invisible">
          {{ shop.name }}
        </h1>
      {%- endif -%}

      {%- if shop.password_message != blank -%}
        <div class="password-content h6 heading-case">
          
  {{ section.settings.richtext_0 }} 
        </div>
      {%- endif -%}

      {%- comment -%}
      <password-modal class="details-modal--transition">
        <details class="password-modal modal">
          <summary class="modal__toggle" aria-haspopup="dialog">
            <div class="modal__toggle-open password-link">
              {% render 'icon-lock' %}
            </div>
            <div class="modal__toggle-close" aria-hidden="true">
              {% render 'icon-close' %}
            </div>
          </summary>
          <div
            class="password-modal-content modal__content"
            role="dialog"
            aria-labelledby="DialogHeading"
            aria-modal="true"
          >
            <div class="modal-overlay"></div>
            <div class="password-modal__content" tabindex="-1">
              <button type="button" class="modal__close-button password-modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                {% render 'icon-close' %}
              </button>
              <div class="password-modal__heading-wrapper">
                <h2 class="password-modal__content-heading h3 heading-case" id="DialogHeading">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h2>
              </div>
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  >
                  <label class="field__label" for="Password">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                  {%- if form.errors -%}
                    <div id="PasswordLoginForm-password-error" role="status">
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                      <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                    </div>
                  {%- endif -%}
                </div>
                <button name="commit" class="password-button button button--small-full-width button--outline">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              {%- endform -%}
              <div class="password-modal__footer-wrapper">
                <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
              </div>
            </div>
          </div>
        </details>
      </password-modal>
      {%- endcomment -%}
    </div>
  
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
        {
      "type": "richtext",
      "label": "Heading",
      "id": "richtext_0"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-password-header.settings.layout.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-password-header.settings.layout.options__2.label"
        }
      ],
      "default": "default",
      "label": "t:sections.main-password-header.settings.layout.label"
    }
  ]
}
{% endschema %}
