{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="page-width">
  {%- paginate customer.addresses by 5 -%}
    <div class="customer addresses" data-customer-addresses>
      <svg style="display: none">
        <symbol id="icon-caret" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
        </symbol>
      </svg>
      <h1 class="heading-case">{{ 'customer.addresses.title' | t }}</h1>
      <a href="{{ routes.account_url }}" class="link-button">
        {{ 'customer.account.return' | t }}
      </a>

      <div data-address>
        <button
          type="button"
          class="button button--small-full-width addresses__button-add"
          aria-expanded="false"
          aria-controls="AddAddress"
        >
          {{ 'customer.addresses.add_new' | t }}
        </button>
        <div id="AddAddress">
          <h2 id="AddressNewHeading" class="heading-case">{{ 'customer.addresses.add_new' | t }}</h2>
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
            <div class="field">
              <input type="text" class="field__input" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
              <label for="AddressFirstNameNew" class="field__label">{{ 'customer.addresses.first_name' | t }}</label>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
              <label for="AddressLastNameNew" class="field__label">{{ 'customer.addresses.last_name' | t }}</label>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
              <label for="AddressCompanyNew" class="field__label">{{ 'customer.addresses.company' | t }}</label>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
              <label for="AddressAddress1New" class="field__label">{{ 'customer.addresses.address1' | t }}</label>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
              <label for="AddressAddress2New" class="field__label">{{ 'customer.addresses.address2' | t }}</label>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
              <label for="AddressCityNew" class="field__label">{{ 'customer.addresses.city' | t }}</label>
            </div>
            <div>
              <div class="select field">
                <select
                  class="select__select field__select"
                  id="AddressCountryNew"
                  name="address[country]"
                  data-default="{{ form.country }}"
                  autocomplete="country"
                >
                  {{ all_country_option_tags }}
                </select>
                <label for="AddressCountryNew" class="field__label">{{ 'customer.addresses.country' | t }}</label>
                {% render 'icon-caret' %}
              </div>
            </div>
            <div id="AddressProvinceContainerNew" style="display: none">
              <div class="select field">
                <select
                  class="select__select field__select"
                  id="AddressProvinceNew"
                  name="address[province]"
                  data-default="{{ form.province }}"
                  autocomplete="address-level1"
                >
                </select>
                <label for="AddressProvinceNew" class="field__label">{{ 'customer.addresses.province' | t }}</label>
                {% render 'icon-caret' %}
              </div>
            </div>
            <div class="field">
              <input type="text" class="field__input" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
              <label for="AddressZipNew" class="field__label">{{ 'customer.addresses.zip' | t }}</label>
            </div>
            <div class="field">
              <input type="tel" class="field__input" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
              <label for="AddressPhoneNew" class="field__label">{{ 'customer.addresses.phone' | t }}</label>
            </div>
            <div class="input-box-wrapper">
              <label class="checkbox">
                {{ form.set_as_default_checkbox }}
                <span>
                  {% render 'icon-checkmark' %}
                </span>
              </label>
              <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div class="customer__buttons">
              <button class="button button--secondary">{{ 'customer.addresses.add' | t }}</button>
              <button type="reset" class="link-button">{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          {%- endform -%}
        </div>
      </div>

      <ul role="list">
        {%- for address in customer.addresses -%}
          <li data-address>
            {%- if address == customer.default_address -%}
              <h2 class="heading-case">{{ 'customer.addresses.default' | t }}</h2>
            {%- endif -%}
            {{ address | format_address }}
              <button
                type="button"
                class="link-button"
                id="EditFormButton_{{ address.id }}"
                aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                aria-controls="EditAddress_{{ address.id }}"
                aria-expanded="false"
                data-address-id="{{ address.id }}"
              >
                {{ 'customer.addresses.edit' | t }}
              </button>
              <button
                type="button"
                class="link-button"
                aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                data-target="{{ address.url }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
              >
                {{ 'customer.addresses.delete' | t }}
              </button>
            <div id="EditAddress_{{ address.id }}" class="addresses__edit-address">
              <h2 class="heading-case">{{ 'customer.addresses.edit_address' | t }}</h2>
              {%- form 'customer_address', address -%}
                <div class="field">
                  <input type="text" class="field__input" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                  <label for="AddressFirstName_{{ form.id }}" class="field__label">{{ 'customer.addresses.first_name' | t }}</label>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                  <label for="AddressLastName_{{ form.id }}" class="field__label">{{ 'customer.addresses.last_name' | t }}</label>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                  <label for="AddressCompany_{{ form.id }}" class="field__label">{{ 'customer.addresses.company' | t }}</label>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                  <label for="AddressAddress1_{{ form.id }}" class="field__label">{{ 'customer.addresses.address1' | t }}</label>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                  <label for="AddressAddress2_{{ form.id }}" class="field__label">{{ 'customer.addresses.address2' | t }}</label>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                  <label for="AddressCity_{{ form.id }}" class="field__label">{{ 'customer.addresses.city' | t }}</label>
                </div>
                <div>
                  <div class="select field">
                    <select
                      class="select__select field__select"
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <label for="AddressCountry_{{ form.id }}" class="field__label">
                      {{ 'customer.addresses.country' | t }}
                    </label>
                    {% render 'icon-caret' %}
                  </div>
                </div>
                <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                  
                  <div class="select field">
                    <select
                      class="select__select field__select"
                      id="AddressProvince_{{ form.id }}"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    >
                    </select>
                    <label for="AddressProvince_{{ form.id }}" class="field__label">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    {% render 'icon-caret' %}
                  </div>
                </div>
                <div class="field">
                  <input type="text" class="field__input" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                  <label for="AddressZip_{{ form.id }}" class="field__label">{{ 'customer.addresses.zip' | t }}</label>
                </div>
                <div class="field">
                  <input type="tel" class="field__input" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                  <label for="AddressPhone_{{ form.id }}" class="field__label">{{ 'customer.addresses.phone' | t }}</label>
                </div>
                <div class="input-box-wrapper">
                  <label class="checkbox">
                    {{ form.set_as_default_checkbox }}
                    <span>
                      {% render 'icon-checkmark' %}
                    </span>
                  </label>
                  <label for="address_default_address_{{ form.id }}">
                    {{ 'customer.addresses.set_default' | t }}
                  </label>
                </div>
                <div class="customer__buttons">
                  <button class="button button--secondary">{{ 'customer.addresses.update' | t }}</button>
                  <button type="reset" class="link-button">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>
      
      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
  {%- endpaginate -%}
</div>

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>

{% schema %}
    {
      "name": "Addresses",
      "settings": [

    ]
}
{% endschema %}