{{ 'media-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-padding', section: section %}
  {%- if section.settings.title_color.alpha > 0 -%}
    #MediaWithTextSection-{{ section.id }} .heading-wrapper__heading {
      color: rgb({{ section.settings.title_color.red }}, {{ section.settings.title_color.green }}, {{ section.settings.title_color.blue }});
    }
  {%- endif -%}
  {%- if section.settings.description_color.alpha > 0 -%}
      #MediaWithTextSection-{{ section.id }} .heading-wrapper__text,
      #MediaWithTextSection-{{ section.id }} .media-section__list-item span {
        color: rgb({{ section.settings.description_color.red }}, {{ section.settings.description_color.green }}, {{ section.settings.description_color.blue }});
      }
  {%- endif -%}
  {%- if section.settings.button_label_1 != blank -%}
      {%- if section.settings.button_color_1.alpha > 0 -%}
              #MediaWithTextSection-{{ section.id }} .section-buttons > *:nth-child(1) * {
                  --color-button: {{ section.settings.button_color_1.red }}, {{ section.settings.button_color_1.green }}, {{ section.settings.button_color_1.blue }};
                  {%- if 'primary' contains section.settings.button_style_1 -%}
                      --color-button-text: {% render 'color-contrast' with color: section.settings.button_color_1 %};
                  {%- endif -%}
              }
      {%- endif -%}
  {%- endif -%}
  {%- if section.settings.button_label_2 != blank -%}
      {%- if section.settings.button_color_2.alpha > 0 -%}
              #MediaWithTextSection-{{ section.id }} .section-buttons > *:nth-child(2) * {
                  --color-button: {{ section.settings.button_color_2.red }}, {{ section.settings.button_color_2.green }}, {{ section.settings.button_color_2.blue }};
                  {%- if 'primary' contains section.settings.button_style_2 -%}
                      --color-button-text: {% render 'color-contrast' with color: section.settings.button_color_2 %};
                  {%- endif -%}
              }
      {%- endif -%}
  {%- endif -%}
{%- endstyle -%}

<div id="MediaWithTextSection-{{ section.id }}">
  {%- if section.settings.dividing_line == 'top' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}
  <div class="media-section media-section--{{ section.settings.layout }} section-{{ section.id }}-padding page-width">
    <div class="grid-bs">
      {%- if section.settings.title != blank or section.settings.description != blank or section.blocks.size > 0 -%}
        <div class="media-section__heading-item g-col-12{% unless section.settings.layout contains 'vertical' %} g-col-sm-6{% endunless %}">
          <div class="{% unless section.settings.layout == 'vertical-in-grid-heading' %}heading-wrapper {% endunless %}animated-appearance{% if section.settings.layout == 'vertical-heading-on-top-center' %} center{% endif %}">
            {%- if section.settings.layout == 'vertical-in-grid-heading' -%}
              <div class="grid-bs">
                <div class="g-col-12 g-col-md-6 heading-wrapper">
            {%- endif -%}
            <h2 class="heading-wrapper__heading heading-case {{ section.settings.title_size }}">{{ section.settings.title }}</h2>
            {%- if section.settings.layout == 'vertical-in-grid-heading' -%}
              </div>
              <div class="g-col-12 g-col-md-6 heading-wrapper small-hide">
            {%- endif -%}
            {%- if section.settings.description != blank -%}
              <div class="heading-wrapper__text heading-tag-case small-hide">
                {{ section.settings.description | replace: '> </', '></' }}
              </div>
            {%- endif -%}
            {%- if section.blocks.size > 0 -%}
              <div class="small-hide media-section__list-wrapper">
                {% capture list_items_html %}
                  <ul class="media-section__list list-unstyled">
                    {%- for block in section.blocks -%}
                      {%- assign icon = blank -%}
                      {%- if block.settings.icon_image != blank -%}
                        {% capture icon %}
                          <img srcset="{{ block.settings.icon_image | img_url: '40x' }} 1x, {{ block.settings.icon_image | img_url: '40x', scale: 2 }} 2x"
                            src="{{ block.settings.icon_image | img_url: '40x' }}"
                            loading="lazy"
                            alt="{{ block.settings.icon_image.alt | default: shop.name | escape }}"
                            style="object-position: {{ block.settings.icon_image.presentation.focal_point }};"
                          >
                        {% endcapture %}
                      {%- elsif block.settings.icon_svg != blank -%}
                        {% capture icon_svg_snippet %}icon-theme-{{ block.settings.icon_svg }}{% endcapture %}
                        {% capture icon %}
                          {% include icon_svg_snippet %}
                        {% endcapture %}
                        {%- if icon contains 'Liquid error' -%}
                          {%- assign icon = blank -%}
                        {%- endif -%}
                      {%- endif -%}
                      <li class="media-section__list-item">
                        {%- if icon != blank -%}
                          <span class="media-section__icon">{{ icon }}</span>
                        {%- endif -%}
                        <span>{{ block.settings.text }}</span>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endcapture %}
                {{ list_items_html }}
              </div>
            {%- endif -%}
            <div class="heading-wrapper__buttons section-buttons buttons-grid-small-up small-hide">
              {%- if section.settings.button_label_1 != blank -%}
                <div class="heading-wrapper__button">
                  <a{% if section.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_1 }}"{% endif %} class="{% render 'button-class' with button_style: section.settings.button_style_1, button_class: 'button--small-full-width' %}">{{ section.settings.button_label_1 | escape }}</a>
                  </div>
              {%- endif -%}
              {%- if section.settings.button_label_2 != blank -%}
                <div class="heading-wrapper__button">
                  <a{% if section.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_2 }}"{% endif %} class="{% render 'button-class' with button_style: section.settings.button_style_2, button_class: 'button--small-full-width' %}">{{ section.settings.button_label_2 | escape }}</a>
                </div>
              {%- endif -%}
            </div>
            {%- if section.settings.layout == 'vertical-in-grid-heading' -%}
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      <div class="media-section__media-item g-col-12{% unless section.settings.layout contains 'vertical' %} g-col-sm-6{% endunless %} animated-appearance">
        {%- if section.settings.cover_image != blank -%}
          {%- if section.settings.image_height == 'adapt' -%}
            {% capture image_aspect_ratio %}{{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}{% endcapture %}
          {%- elsif section.settings.image_height == 'fixed' -%}
            {% capture image_aspect_ratio %}{{ section.settings.image_fixed_aspect_ratio }}{% endcapture %}
          {%- endif -%}
        {%- endif -%}
        <noscript>
          <div class="media-section__media {% if section.settings.animation != 'inherit_global' %}hover-animation hover-animation--{{ section.settings.animation }}{% else %}hover-animation-global{% endif %}"
            {% if image_aspect_ratio != blank %} style="padding-bottom: {{ image_aspect_ratio }}%;"{% endif %}
          >
            <a href="{{ section.settings.video_url }}" class="media-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} media-section__placeholder placeholder{% endif %}">
              {%- if section.settings.cover_image != blank -%}
                <img
                  srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
                    {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
                    {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
                  src="{{ section.settings.cover_image | img_url: '1920x' }}"
                  sizes="(min-width: 577px) calc(100vw - 10rem), 100vw"
                  alt="{{ 'sections.video.load_video' | t: description: section.settings.video_description | escape }}"
                  loading="lazy"
                  width="{{ section.settings.cover_image.width }}"
                  height="{{ section.settings.cover_image.height }}"
                  style="object-position: {{ section.settings.cover_image.presentation.focal_point }};"
                >
              {%- else -%}
                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </a>
          </div>
        </noscript>
        <deferred-media class="media-section__media {% if section.settings.animation != 'inherit_global' %}hover-animation hover-animation--{{ section.settings.animation }}{% else %}hover-animation-global{% endif %} deferred-media no-js-hidden" data-media-id="{{ section.settings.video_url.id }}"
          {% if image_aspect_ratio != blank %} style="padding-bottom: {{ image_aspect_ratio }}%;"{% endif %}
        >
        {%- if section.settings.video_url != blank -%}   
          <button
            id="Deferred-Poster-Modal-Media-{{ section.settings.video_url.id }}"
            class="media-section__poster media deferred-media__poster media--landscape"
            type="button"
            aria-label="Media"
          >
        {%- else -%}
          <div class="media-section__poster media">
        {%- endif -%}
            {%- if section.settings.video_url != blank -%}
              <span class="deferred-media__poster-button motion-reduce">
                {%- render 'icon-play' -%}
              </span>
            {%- endif -%}
            {%- if section.settings.cover_image != blank -%}
              <img
                srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
                  {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
                src="{{ section.settings.cover_image | img_url: '1920x' }}"
                sizes="(min-width: 577px) calc(100vw - 10rem), 100vw"
                alt="{{ 'sections.video.load_video' | t: description: section.settings.video_description | escape }}"
                loading="lazy"
                width="{{ section.settings.cover_image.width }}"
                height="{{ section.settings.cover_image.height }}"
                style="object-position: {{ section.settings.cover_image.presentation.focal_point }};"
              >
            {%- else -%}
              {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
        {%- if section.settings.video_url != blank -%}   
          </button>
        {%- else -%}
          </div>
        {%- endif -%}
          <template>
            {%- if section.settings.video_url.type == 'youtube' -%}
              <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.video_description | escape }}"></iframe>
            {%- else -%}
              <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.video_description | escape }}"></iframe>
            {%- endif -%}
          </template>
        </deferred-media>
      </div>

      {%- if section.settings.description != blank -%}
        <div class="g-col-12 medium-hide large-up-hide{% if section.settings.layout == 'vertical-heading-on-top-center' %} center{% endif %}">
          <div class="heading-wrapper__text heading-tag-case">
            {{ section.settings.description | replace: '> </', '></' }}
          </div>
        </div>
      {%- endif -%}

      {%- if list_items_html != blank -%}
        <div class="g-col-12 medium-hide large-up-hide media-section__list-wrapper">
          {{ list_items_html }}
        </div>
      {%- endif -%}

      <div class="g-col-12 section-buttons buttons-grid-small-up medium-hide large-up-hide {% if section.settings.layout == 'vertical-heading-on-top-center' %}center{% elsif section.settings.layout == 'vertical-in-grid-heading' %}large-up-hide{% endif %}">
        {%- if section.settings.button_label_1 != blank -%}
          <a{% if section.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_1 }}"{% endif %} class="{% render 'button-class' with button_style: section.settings.button_style_1, button_class: 'button--small-full-width' %}">
            {{ section.settings.button_label_1 | escape }}
          </a>
        {%- endif -%}
        {%- if section.settings.button_label_2 != blank -%}
          <a{% if section.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_2 }}"{% endif %} class="{% render 'button-class' with button_style: section.settings.button_style_2, button_class: 'button--small-full-width' %}">
            {{ section.settings.button_label_2 | escape }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- if section.settings.dividing_line == 'bottom' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.media.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "disabled_on": {
    "groups": ["custom.megamenu"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Media",
      "label": "t:sections.media.settings.title.label"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.media.settings.title_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.media.settings.title_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.media.settings.title_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.media.settings.title_size.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.media.settings.title_color.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Give customers details about the banner image(s) or content on the section.</p>",
      "label": "t:sections.media.settings.description.label"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "t:sections.media.settings.description_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.media.settings.header__1.content"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.options__2.label"
        },
        {
          "value": "link-style",
          "label": "t:sections.all.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button_style.label"
    },
    {
      "type": "color",
      "id": "button_color_1",
      "label": "t:sections.all.button_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.media.settings.header__2.content"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "Second button",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.options__2.label"
        },
        {
          "value": "link-style",
          "label": "t:sections.all.button_style.options__3.label"
        }
      ],
      "default": "link-style",
      "label": "t:sections.all.button_style.label"
    },
    {
      "type": "color",
      "id": "button_color_2",
      "label": "t:sections.all.button_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.media.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.media.settings.layout.options__1.label"
        },
        {
          "value": "reverse-horizontal",
          "label": "t:sections.media.settings.layout.options__2.label"
        },
        {
          "value": "vertical-heading-on-top",
          "label": "t:sections.media.settings.layout.options__3.label"
        },
        {
          "value": "vertical-in-grid-heading",
          "label": "t:sections.media.settings.layout.options__4.label"
        },
        {
          "value": "vertical-heading-on-top-center",
          "label": "t:sections.media.settings.layout.options__5.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.media.settings.layout.label"
    },
    {
    "type": "select",
    "id": "dividing_line",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.dividing_line.options__1.label"
      },
      {
        "value": "top",
        "label": "t:sections.all.dividing_line.options__2.label"
      },
      {
        "value": "bottom",
        "label": "t:sections.all.dividing_line.options__3.label"
      }
    ],
    
    
      "default": "top",
    
    "label": "t:sections.all.dividing_line.label"
},
{
    "type": "range",
    "id": "spacing_top",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_top.label",
    
    
      "default": 80
    
},
{
    "type": "range",
    "id": "spacing_bottom",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_bottom.label",
    
    
      "default": 80
    
},
    {
      "type": "header",
      "content": "t:sections.media.settings.header__4.content"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.media.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "label": "t:sections.media.settings.video_url.label",
      "info": "t:sections.media.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "t:sections.media.settings.video_description.label",
      "info": "t:sections.media.settings.video_description.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.media.settings.image_height.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.media.settings.image_height.options__2.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.media.settings.image_height.label"
    },
    {
      "type": "range",
      "id": "image_fixed_aspect_ratio",
      "min": 50,
      "max": 150,
      "step": 2,
      "unit": "%",
      "label": "t:sections.media.settings.image_fixed_aspect_ratio.label",
      "info": "t:sections.media.settings.image_fixed_aspect_ratio.info",
      "default": 100
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "inherit_global",
          "label": "t:sections.image-banner.settings.animation.options__1.label"
        },
        {
          "value": "none",
          "label": "t:sections.image-banner.settings.animation.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.image-banner.settings.animation.options__3.label"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.image-banner.settings.animation.options__4.label"
        }
      ],
      "default": "inherit_global",
      "label": "t:sections.image-banner.settings.animation.label"
    }
  ],
  "blocks": [
    {
      "type": "list_item",
      "name": "t:sections.media.blocks.list_item.name",
      "settings": [
        {
          "type": "text",
          "id": "icon_svg",
          "default": "frame-2",
          "label": "t:sections.media.blocks.list_item.settings.icon_svg.label"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.media.blocks.list_item.settings.icon_image.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "t:sections.media.blocks.list_item.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.media.presets.name",
        "blocks": [
            {
                "type": "list_item"
            },
            {
                "type": "list_item"
            }
        ]
    }
  ]
}
  {% endschema %}
