{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  {% render 'section-padding', section: section %}
  {%- if section.settings.title_color.alpha > 0 -%}
    #MulticolumnSection-{{ section.id }} .heading-wrapper__heading {
      color: rgb({{ section.settings.title_color.red }}, {{ section.settings.title_color.green }}, {{ section.settings.title_color.blue }});
    }
  {%- endif -%}
  {%- if section.settings.description_color.alpha > 0 -%}
    #MulticolumnSection-{{ section.id }} .heading-wrapper__text {
      color: rgb({{ section.settings.description_color.red }}, {{ section.settings.description_color.green }}, {{ section.settings.description_color.blue }});
    }
  {%- endif -%}
  {%- if section.settings.blocks_heading_color.alpha > 0 -%}
    #MulticolumnSection-{{ section.id }} .multicolumn-card__info h3 {
      color: rgb({{ section.settings.blocks_heading_color.red }}, {{ section.settings.blocks_heading_color.green }}, {{ section.settings.blocks_heading_color.blue }});
    }
  {%- endif -%}
  {%- if section.settings.blocks_text_color.alpha > 0 -%}
    #MulticolumnSection-{{ section.id }} .multicolumn-card__info .rte {
      color: rgb({{ section.settings.blocks_text_color.red }}, {{ section.settings.blocks_text_color.green }}, {{ section.settings.blocks_text_color.blue }});
    }
  {%- endif -%}
  {%- if section.settings.button_label_1 != blank -%}
    {%- if section.settings.button_color_1.alpha > 0 -%}
            #MulticolumnSection-{{ section.id }} .section-buttons *:nth-child(1) {
                --color-button: {{ section.settings.button_color_1.red }}, {{ section.settings.button_color_1.green }}, {{ section.settings.button_color_1.blue }};
                {%- if 'primary' contains section.settings.button_style_1 -%}
                    --color-button-text: {% render 'color-contrast' with color: section.settings.button_color_1 %};
                {%- endif -%}
            }
    {%- endif -%}
  {%- endif -%}
  {%- if section.settings.button_label_2 != blank -%}
      {%- if section.settings.button_color_2.alpha > 0 -%}
              #MulticolumnSection-{{ section.id }} .section-buttons *:nth-child(2) {
                  --color-button: {{ section.settings.button_color_2.red }}, {{ section.settings.button_color_2.green }}, {{ section.settings.button_color_2.blue }};
                  {%- if 'primary' contains section.settings.button_style_2 -%}
                      --color-button-text: {% render 'color-contrast' with color: section.settings.button_color_2 %};
                  {%- endif -%}
              }
      {%- endif -%}
  {%- endif -%}
{%- endstyle -%}


<div id="MulticolumnSection-{{ section.id }}">
  {%- if section.settings.dividing_line == 'top' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}
  <div class="multicolumn section-{{ section.id }}-padding{% if section.settings.title == blank %} no-heading{% endif %}">
    <div class="page-width">
      <slider-component class="slider-mobile-gutter">
        <div class="grid-bs">
          {% include 'section-heading-capture' %}

          {%- liquid
            assign highest_ratio = 0
            for block in section.blocks
              if block.settings.image.aspect_ratio > highest_ratio
                assign highest_ratio = block.settings.image.aspect_ratio
              endif
            endfor
          -%}

          <ul class="g-col-12 grid-bs list-unstyled{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}">
            {% include 'section-heading-column', columns_in_row: section.settings.columns_in_row %}

            {%- for block in section.blocks -%}
              <li class="g-col-12 g-col-sm-6 g-col-md-{{ 12 | divided_by: section.settings.columns_in_row }} slider__slide">
                <div class="multicolumn-list__item multicolumn-list__item--{{ section.settings.column_alignment }} animated-appearance" {{ block.shopify_attributes }}>
                  <div class="multicolumn-card {% if section.settings.animation != 'inherit_global' %}hover-animation hover-animation--{{ section.settings.animation }}{% else %}hover-animation-global{% endif %}">
                    {%- if section.settings.show_image -%}
                      {%- if block.settings.image != blank -%}
                        {%- if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' -%}
                          {%- assign spaced_image = true -%}
                        {%- endif -%}
                        <div class="multicolumn-card__image-wrapper">
                          <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                            {% if section.settings.image_ratio == 'adapt' %}
                              style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                            {% endif %}>
                            <img
                              srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                                {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                                {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                                {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                                {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | img_url: '550x' }}"
                              sizes="(min-width: 993px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                                (min-width: 577px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                                calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt }}"
                              height="{{ block.settings.image.height }}"
                              width="{{ block.settings.image.width }}"
                              loading="lazy"
                              style="object-position: {{ block.settings.image.presentation.focal_point }};"
                            >
                          </div>
                        </div>
                      {%- else -%}
                        <div class="placeholder">
                          <div class="media media--square">
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                    {%- assign icon = blank -%}
                    {%- if block.settings.icon_image != blank -%}
                      {% capture icon %}
                        <img srcset="{{ block.settings.icon_image | img_url: '40x' }} 1x, {{ block.settings.icon_image | img_url: '40x', scale: 2 }} 2x"
                          src="{{ block.settings.icon_image | img_url: '40x' }}"
                          loading="lazy"
                          alt="{{ block.settings.icon_image.alt | default: shop.name | escape }}"
                          style="object-position: {{ block.settings.icon_image.presentation.focal_point }};"
                        >
                      {% endcapture %}
                    {%- elsif block.settings.icon_svg != blank -%}
                      {% capture icon_svg_snippet %}icon-theme-{{ block.settings.icon_svg }}{% endcapture %}
                      {% capture icon %}
                        {% include icon_svg_snippet %}
                      {% endcapture %}
                      {%- if icon contains 'Liquid error' -%}
                        {%- assign icon = blank -%}
                      {%- endif -%}
                    {%- endif -%}
                    {%- if icon != blank -%}
                      <div class="multicolumn-card__icon">{{ icon }}</div>
                    {%- endif -%}
                    <div class="multicolumn-card__info">
                      {%- if block.settings.title != blank -%}
                        <h3 class="{{ section.settings.column_heading_size }}">{{ block.settings.title }}</h3>
                      {%- endif -%}
                      {%- if block.settings.text != blank -%}
                        <div class="rte">{{ block.settings.text }}</div>
                      {%- endif -%}
                    </div>
                     <!-- <a{% if block.settings.background_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.background_link }}"{% endif %} class="rich-text__button {% render 'button-class' with button_style: block.settings.button_style, button_class: 'button--small-full-width' %}" {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a> -->
                  </div>
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if section.settings.swipe_on_mobile -%}
            <div class="g-col-12 hidden">
              <div class="slider-buttons no-js-hidden{% if section.blocks.size < 2 %} small-hide{% endif %}">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.blocks.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            </div>
            <div class="g-col-12 medium-hide large-up-hide">
              <div class="slider-bullets">
                {%- for block in section.blocks -%}
                  <button type="button" class="slider-bullet" name="bullet" aria-label="Slide {{ forloop.index }}"></button>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
          {% include 'section-heading-mobile-buttons' %}
        </div>
      </slider-component>
    </div>
  </div>
  {%- if section.settings.dividing_line == 'bottom' -%}
  <div class="page-width">
    <div class="dividing-line"></div>
  </div>
{%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "disabled_on": {
    "groups": ["custom.megamenu"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.multicolumn.settings.title_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.multicolumn.settings.title_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.multicolumn.settings.title_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.multicolumn.settings.title_size.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.multicolumn.settings.title_color.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Give customers details about the banner image(s) or content on the section.</p>",
      "label": "t:sections.multicolumn.settings.description.label"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "t:sections.multicolumn.settings.description_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "in-grid-heading",
          "label": "t:sections.multicolumn.settings.layout.options__1.label"
        },
        {
          "value": "heading-on-top",
          "label": "t:sections.multicolumn.settings.layout.options__2.label"
        },
        {
          "value": "heading-on-top-center",
          "label": "t:sections.multicolumn.settings.layout.options__3.label"
        }
      ],
      "default": "in-grid-heading",
      "label": "t:sections.multicolumn.settings.layout.label"
    },
    {
      "type": "select",
      "id": "layout_mobile_align",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.global.layout_mobile_align.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.global.layout_mobile_align.options__2.label"
        },
        {
          "value": "center",
          "label": "t:sections.global.layout_mobile_align.options__3.label"
        }
      ],
      "default": "auto",
      "label": "t:sections.global.layout_mobile_align.label"
    },
    {
    "type": "select",
    "id": "dividing_line",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.dividing_line.options__1.label"
      },
      {
        "value": "top",
        "label": "t:sections.all.dividing_line.options__2.label"
      },
      {
        "value": "bottom",
        "label": "t:sections.all.dividing_line.options__3.label"
      }
    ],
    
    
      "default": "top",
    
    "label": "t:sections.all.dividing_line.label"
},
{
    "type": "range",
    "id": "spacing_top",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_top.label",
    
    
      "default": 80
    
},
{
    "type": "range",
    "id": "spacing_bottom",
    "min": 0,
    "max": 100,
    "step": 20,
    "unit": "px",
    "label": "t:sections.all.spacing_bottom.label",
    
    
      "default": 80
    
},
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "columns_in_row",
      "options": [
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_in_row.options__1.label"
        },
        {
          "value": "3",
          "label": "t:sections.multicolumn.settings.columns_in_row.options__2.label"
        },
        {
          "value": "4",
          "label": "t:sections.multicolumn.settings.columns_in_row.options__3.label"
        },
        {
          "value": "6",
          "label": "t:sections.multicolumn.settings.columns_in_row.options__4.label"
        }
      ],
      "default": "4",
      "label": "t:sections.multicolumn.settings.columns_in_row.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.multicolumn.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__5.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multicolumn.settings.column_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "column_heading_size",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.multicolumn.settings.column_heading_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.multicolumn.settings.column_heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.multicolumn.settings.column_heading_size.options__3.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.multicolumn.settings.column_heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header__3.content"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.options__2.label"
        },
        {
          "value": "link-style",
          "label": "t:sections.all.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button_style.label"
    },
    {
      "type": "color",
      "id": "button_color_1",
      "label": "t:sections.all.button_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header__4.content"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "Second button",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.options__2.label"
        },
        {
          "value": "link-style",
          "label": "t:sections.all.button_style.options__3.label"
        }
      ],
      "default": "link-style",
      "label": "t:sections.all.button_style.label"
    },
    {
      "type": "color",
      "id": "button_color_2",
      "label": "t:sections.all.button_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header__5.content"
    },
    {
      "type": "color",
      "id": "blocks_heading_color",
      "label": "t:sections.multicolumn.settings.blocks_heading_color.label"
    },
    {
      "type": "color",
      "id": "blocks_text_color",
      "label": "t:sections.multicolumn.settings.blocks_text_color.label"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "inherit_global",
          "label": "t:sections.image-banner.settings.animation.options__1.label"
        },
        {
          "value": "none",
          "label": "t:sections.image-banner.settings.animation.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.image-banner.settings.animation.options__3.label"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.image-banner.settings.animation.options__4.label"
        }
      ],
      "default": "inherit_global",
      "label": "t:sections.image-banner.settings.animation.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.multicolumn.blocks.column.settings.paragraph__1.content"
        },
        {
          "type": "text",
          "id": "icon_svg",
          "label": "t:sections.multicolumn.blocks.column.settings.icon_svg.label"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.multicolumn.blocks.column.settings.icon_image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "url",
          "id": "background_link",
          "label": "Background URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "icon_svg": "pyramid"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon_svg": "partner"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon_svg": "box"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon_svg": "frame-2"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon_svg": "diamond"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon_svg": "time"
          }
        }
      ]
    }
  ]
}
{% endschema %}
