<style>
.countdown{
    width: 100%;
    margin-top: 10rem;
  }
  #countdown-timer {
     display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1;
    /* color: #ffffff; */
  }
  
  #countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .timer_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  span.time_text {
      font-size: 10px;
  }
  
  .time_no,
  span.time_divider {
      font-size: 2em;
  }
  #open-me{
  margin-top:40px;
  }
  #open-me a {
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
  }
  .social-center{
    justify-content: center;
  }
  button.w3-button.w3-black{
    border: 2px solid #000000;
    background-color: #f5f5f5 !important;
    color: black !important;
    border-radius: 0px;
    padding: 5px;
    font-size: 12px;
  }
  .w3-modal-content{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #shopify-section-template--17811297075397__password_login_G7JKNf .storefront-password-form label{
    font-weight: 600;
    text-transform: uppercase;
  }
  .password-input{
        margin-top: 10px;
        padding-bottom: 20px;
  }
  #password{
    width: 270px;
    height: 50px;
  }
  .action_button sign_up{
    color: #fff;
    background: black;
    padding: 10px;
    width: 80px;
  }
  input.action_button.sign_up{
    color: #fff;
    background: black;
    padding: 10px;
    width: 80px;
  }
  #owner{
        color: #000;
    font-size: 12px;
    line-height: 2;
  }
  .link{
    font-size: 12px !important;
    font-weight: 600 !important;
    text-underline-offset: .2rem !important;
  }
  #shopify-section-template--17811297075397__password_login_G7JKNf{
    margin-top:10px;
    margin-bottom:50px;
  }
      .w3-modal-content {
        width: 500px !important;
    }
@media screen and (max-width: 767px) {
  .inputbox{
        margin: 0px auto;
    width: 80%;
  }
      .password-header {
        align-items: center;
    }
  .password-content {
        text-align: center;
  }
  #password{
    width: 220px;
    height: 50px;
  }
  input.action_button.sign_up {
    color: #fff;
    background: black;
    padding: 10px;
    width: 220px;
    margin-top: 10px;
}
}
</style>


<div id="password--container" class="center">

      <div class="password-page--row">
        <div class="password-page--col">
          <!-- <h2 class="password-page--message">{{ 'general.password_page.opening_soon' | t }}</h2> -->
          <h1>{{ section.settings.text_0 }} </h1>
          
        </div>
      </div>
  
      {% unless section.settings.password_message == blank %}
      <div class="password-page--row">
        <div class="password-page--col">
          <!-- <p class="password--message">{{ section.settings.password_message }}</p> -->
          <h1>{{ section.settings.text_0 }} </h1>
      </div>
      {% endunless %}
      
        
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <div class="w3-container">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">• Enter store using password: •</button>
      
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
               <div class="inputbox">
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            {% if form.errors.count > 0 %}
            <script>
                $(document).ready(function () {
                    $(".overlay").addClass('overlay-open');
                });
            </script>
            {% endif %}
            <label for="password">STORE {{ 'general.password_page.login_form_password_label' | t }} </label>
            <div class="password-input">
                <input type="password" name="password" id="password" autofocus
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" />
                <input class="action_button sign_up" name="commit" type="submit"
                    value="{{ 'general.password_page.login_form_submit' | t }}" />
            </div>
            {% endform %}
            <div id="owner">{{ 'general.password_page.admin_link_html' | t }} <br><a href="/admin/online_store/preferences?tutorial=unlock"> Log in or change your password settings</a>
            </div>
        </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="password-page--row" style="display:none">      
        <div class="password-page--col">
          <div class="klaviyo-form-UaLG7L"></div>
        </div>
      </div>

      <div class="password-page--row">
        <div class="password-page--col password--social">
          {% if section.settings.social_media %}
            <ul class="social_icons">
                <div class="footer__list-social-wrapper">
                  <ul class="footer__list-social list-unstyled list-social social-center" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                          {%- render 'icon-social-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                          {%- render 'icon-social-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                          {%- render 'icon-social-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                          {%- render 'icon-social-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                          {%- render 'icon-social-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                          {%- render 'icon-social-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                          {%- render 'icon-social-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                          {%- render 'icon-social-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                          {%- render 'icon-social-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                      <div class="footer__follow-on-shop">
                        {{ shop | login_button: action: 'follow' }}
                      </div>
                    {%- endif -%}
                  </ul>
                </div>
            </ul>
          
          {% endif %}
        </div>
      </div>
  </div>

<div>
  <center>
    {{ section.settings.richtext_0 }} 
  </center>
</div>

<script>
    $(function () {
        // Open modal
        $('#open-me').on('click', function (e) {
            e.preventDefault(); // Prevent default link behavior
            $('.overlay').addClass('overlay-open');
        });

        // Close modal
        $('.close-me, .remodal-close').on('click', function (e) {
            e.preventDefault(); // Prevent default link behavior
            $('.overlay').removeClass('overlay-open');
        });
    });
</script>

<style>
#shopify-section-{{ section.id }} #password-page-bg {
    color: {{ settings.password_page_text_color }};
    background-color: {{ settings.password_page_background_color }};
    {% if section.settings.custom_pagework_page_bg and section.settings.password-page-background == blank %}
      background: url({{ "password-page-background.jpg" | asset_url }}) center center;
    {% elsif section.settings.custom_pagework_page_bg and section.settings.password-page-background != blank %}
      background-image:
            linear-gradient(45deg,
              rgba(0,0,0, 0.75),
              rgba(0,0,0, 0.75)), url({{ section.settings.password-page-background | img_url: '2000x' }});
    {% endif %}
    {% if section.settings.pagework_page_bg_stretched %}
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    {% endif %}
}

#shopify-section-{{ section.id }} .password--logo {
    max-width: {{ section.settings.logo_width }}px;
    margin: 0 auto;
}

#shopify-section-{{ section.id }} #password-container h1 {
    color: {{ settings.password_page_text_color }};
}

#shopify-section-{{ section.id }} .password-page--message {
    color: {{ settings.password_page_text_color }};
/*     border-top: 1px solid {{ settings.password_page_text_color }};
    border-bottom: 1px solid {{ settings.password_page_text_color }}; */
    font-family: 'Oswald';
    font-size: 36px;
    font-weight: 500;
}

#shopify-section-{{ section.id }} .password-page--follow {
    color: {{ settings.password_page_text_color }};
}

#shopify-section-{{ section.id }} .password--social .social_icons a,
#shopify-section-{{ section.id }} .password--social .social_icons a:visited,
#shopify-section-{{ section.id }} .password--social .social_icons a:active {
    color: {{ settings.password_page_text_color }};
}

#shopify-section-{{ section.id }} #open-me a,
#shopify-section-{{ section.id }} #open-me a:hover {
    color: {{ settings.password_page_text_color }};
}

body.password div#shopify-section-header, 
body.password div#shopify-section-footer {
   display: none;
}

#shopify-section-{{ section.id }} * {
  color: #000;
}

#shopify-section-{{ section.id }} input.action_button.sign_up {
  color: #fff;
}

#shopify-section-{{ section.id }} .overlay {
  background: rgba(255,255,255,.98);
}

#shopify-section-{{ section.id }} .storefront-password-form label {
    font-size: 20px;
    font-family: 'Oswald';
}

@media only screen and (max-width: 798px) {
body.password .container {
    width: 350px;
}
}
</style>

{% schema %}
{
  "name": "Password Page",
  "class": "password-page",
  "settings": [
    {
      "type": "text",
      "label": "Heading Text",
      "id": "text_0"
    },
    {
      "type": "richtext",
      "label": "Text Contact",
      "id": "richtext_0"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ],
  
  "presets": [
    {
      "name": "Password login"
    }
  ]
}
{% endschema %}
